/*===================================================

				Global Styles

====================================================*/
ol {
	margin-bottom: 0px;
}

.container {
	padding-left:10px;
	padding-right:10px;
}

.uppercase {
	text-transform: uppercase;
}

.color-gray {
	color:#808080;
}

.color-orange {
	color:#F26522;
}

.font-size-12 {
	font-size:12px;
}

.font-size-16 {
	font-size:16px;
}

.font-size-18 {
	font-size:18px;
}

.font-size-20 {
	font-size:20px;
}

.font-size-24 {
	font-size:24px;
}

.font-size-30 {
	font-size: 30px;
}

.padding-left-10 {
	padding-left:10px;
}

.padding-top-10 {
	padding-top: 10px;
}

.padding-top-15 {
	padding-top: 15px;
}

.padding-top-20 {
	padding-top: 20px;
}

.padding-top-100 {
	padding-top: 100px;
}

.padding-bottom-10 {
	padding-bottom: 10px;
}

.padding-bottom-20 {
	padding-bottom:20px;
}

.margin-all-15 {
	margin:15px;
}

.margin-top-10 {
	margin-top:10px;
}

.margin-top-20 {
	margin-top:20px;
}

.margin-top-50 {
	margin-top:50px;
}

.margin-left-10 {
	margin-left:10px;
}

.breadcrumb {
	background-color: #fff;
	margin-bottom:0px;
	font-size:18px;
}

ul.nested-list {
	list-style-type: none;
	padding:0;
	margin-left:15px;
}

.first-nav {
	padding:10px 15px;
}

*[role="presentation"] {
	font-size:18px;
}

.main-menu li {
	list-style-type: none;
	padding:15px 0;
}

.main-menu li a {
	color:#808080;
	text-decoration: none;
}

.main-menu > li > a:hover, .main-menu > li > a:focus {
	background-color:#fff;
	color:#F26522;
}

.panel-group {
	margin-top:20px;
	width:90%;
}

/*===================================================

				Grid Styles

====================================================*/
.title-container {
	padding:40px 0px;
	text-align: center;
}

.property-container {
	border:2px solid #808080;
	margin:10px 0;
	border-radius: 4px;
	min-height: 250px;
}

.top-container {
	min-height: 60px
}

.icon-container {
	position: fixed;
	bottom:0px;
	background-color:#fff;
	width: 100%;
	height:auto;	
}

.logo {
	position: fixed;
	bottom:10px;
	left:10px;
	z-index: 100;
	width:60px;
	height: auto;
}

.btn {
	border:2px solid #808080;
}

.btn-group .btn-default {
	border-bottom-color: #fff;
	width:75px;
	height:40px;
	color:#f26522;
}

.img-container {
	position: relative;
	width:100%;
	max-height: 125px;
	overflow: hidden;
}

.img-container img {
	width:100%;
	height:auto;
	margin:0 auto;
}

.property-container div {
	text-align: center;
}

.filter-container {
	border-top: 2px solid #808080;
	color:#808080;
	text-transform: uppercase;
	list-style-type: none;
	padding:10px 25px;
}

.gla {
	padding-left:15px;
	margin-top:30px;
}

.property-grid-container {
	position: relative;
}

/*===================================================

				Property Styles

====================================================*/
.favorite-star {
	color:#808080;
}

.favorited {
	color:#F26522;
}

.overview, .key-facts-title, .gallery{
	border-bottom: 2px solid #808080;
	padding-bottom:10px;
}

.section-title div {
	padding-left:15px;
}

.mall-address {
	padding-top:25px;
}

.mall-description {
	padding-top:25px;
	line-height: 1.7;
}

.btn-property {
	width:100%;
	color:#000;
	background-color: #fff;
	border-color: #808080;
}

.btn-property:hover, .btn-property:active {
	color:#fff;
	background-color:#F26522;
}

.header-img-container {
	width:100%;
	height: 150px;
	overflow: hidden;
	padding-left:0px;
}

.header-img {
	width:100%;
	margin-bottom: 30px;
}

.key-facts {
	padding-top:20px;
}

.key-facts .col-sm-4 {
	padding:10px 15px 0 0;
}

.folder-name {
	border:1px solid #808080;
	border-radius: 4px;
	display: inline;
	padding:5px 10px;
	margin-left:15px;
	position: relative;
	top:5px;
	text-align: center;
}

.active-folder-name {
	background-color: #F26522;
	color: #fff;
}

.gallery-title {
	margin-top:200px;
}

.gallery-container {
	padding: 5px;
}


.gallery-thumb {
	width:100%;
	height:100px;
	border:2px solid #808080;
}

.modal-body {
	padding:10px;
}

.btn-group .btn-default {
	width:150px;
	color:#808080;
	border:0;
	font-size:16px;
}

.btn-group .btn-default:nth-of-type(2) {
	display: none;
}

/*===================================================

				Favorites Styles

====================================================*/
.favorite-container {
	min-height:475px;
	border:2px solid #808080;
	position: relative;
}

.favorite-container span {
	display: block;
    text-align: center;
}

.favorite-name span{
	margin:0 auto;
	text-align: center;
}

.favorite-img-container {
	position: relative;
	width:100%;
	max-height: 75px;
	overflow: hidden;
}

.favorite-img-container img {
	width:100%;
	height:auto;
	margin:0 auto;
}

.favorite-facts-container {
	padding:10px;
	text-align: center;
}
2
.types .title, .anchorTenants .title {
	border-bottom: 2px solid #808080;
}

.view-property {
	width:60%;
	color:#000;
	background-color: #fff;
	border-color: #808080;
	position: absolute;
	bottom:25px;
	left:45px;
}

/*===================================================

		        Meeting Builder Styles

====================================================*/

.cal-slide-content {
	background-color: #eee;
	color:#000;
	box-shadow: none;
}

.cal-slide-content a.event-item {
    color: #000;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
	width:800px;
	background: #eee;
}

.selected-properties {
	list-style-type: none;
	padding: 0;
	text-decoration: underline;
}

/*===================================================

				Tools Styles

====================================================*/
.tool-container {
	border:5px solid #808080;
	padding:75px 5px;
	border-radius: 10px;
}

.tool-container span {
	text-align: center;
	display: block;
}

.tool-container div {
	text-align: center;
	display: block;
}

/*===================================================

				Mall/Space Styles

====================================================*/
.carousel-container {
	border:2px solid #f26522;
}

.view {
	border-bottom: 2px solid #808080;
	border-top: 2px solid #808080;
	padding:15px 0;
	/*background-color:#FFF9DF;*/
	text-align: center;
	font-size:20px;
}

.mall-container, .space-container {
	padding:10px 10px;
}

.mall-type {
	font-size:20px;
}

/*===================================================

				Map Styles

====================================================*/
.btn-dropdown {
	color:#fff;
	background-color: #808080;
	padding-left:20px;
	border:none;
	box-shadow: 1px 2px 5px #888888;
}

.btn-dropdown:last-of-type {
	border-left:0;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-right: 0;
}

#map {
	height:100vh;
	width: 100%;
}

/*ESRI iframe map*/
.embed-container {
	position: relative; 
	padding-bottom: 80%; 
	height: 0; 
	max-width: 100%;
} 
.embed-container iframe, .embed-container object, .embed-container iframe{
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
} 
small {
	position: absolute; 
	z-index: 40; 
	bottom: 0; 
	margin-bottom: -15px;
}
/*===================================================

				Media Queries

====================================================*/
/** iPad Landscape Change to min-device-width */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : landscape) { 

	.property-grid-container {
		height:740px;
		overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
	}

}

/* iPad Portrait */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) 
and (orientation : portrait) { 

	.title-container {
		padding:25px 0;
	}

	*[role="presentation"]:last-of-type {
		border-bottom: none;
	}

	.main-menu li {
		text-align: center;
	}

	.filter-container li {
		text-align: center;
	}

	.gla {
		text-align: center;
		margin-top:0;
	}

	.property-grid-container {
		height:715px;
		overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
	}

	/*Property View*/
	.header-img-container {
		display: none;
	}

	.property-buttons {
		text-align: center;
	}

	.btn-property {
		width:75%;
	}

	.key-facts {
		margin-top:275px;
	}

	/*Tool View*/
	.tool-container {
		padding:30px 5px;
		margin:10px;
	}

	/*Map View*/

	.mapinfo-container {
		text-align: center;
	}
	
	#map {
		margin-top:150px;
		height:100vh;
	}
}

















