<div class="col-sm-4 col-md-3 margin-top-10">
	<div class="favorite-container">
		
		<div class="favorite-name uppercase font-size-18 padding-bottom-10 margin-top-10 color-orange">
			<span>{{ favorite.property_name }}</span>
		</div>
		
		<div class="favorite-img-container">
			<img ng-src="{{ favorite.thumb }}">
		</div>

		<div class="favorite-facts-container">

			<div class="types padding-top-10">
				<div class="title font-size-20">Type of Center</div>
				<div>{{ favorite.overview.property_type | trim }}</div>
			</div>
			<div class="anchorTenants padding-top-20">
				<div class="title font-size-20">Anchor Tenants</div>
				<div>{{ favorite.overview.anchor_tenants | trim }}</div>
			</div>

			<button class="btn view-property margin-top-50" ng-click="viewProperty()">View</button>
			<button class="btn remove-property margin-top-50" ng-click="removeProperty()">Remove</button>

		</div>

	</div>
</div>