<div class="icon-container">
	<div>
		<img class="logo" src="common/img/logo.png">
	</div>

	<footer class="footer">
		<div class="btn-group" role="group" aria-label="...">
		  <button type="button" class="btn btn-default" ng-click="goToFavorites()"><i class="fa fa-star fa-2x"></i></button>
		  <button type="button" class="btn btn-default"><i class="fa fa-line-chart fa-2x"></i></button>
		  <button type="button" class="btn btn-default" ng-click="goToTools()"><i class="fa fa-wrench fa-2x"></i></button>
		</div>
	</footer>
</div>