<div class="row">
	<div class="col-sm-4">
		<div class="title-container">
			<span>All Opportunities</span>
		</div>
		<div class="main-menu">
			<ul class="nav nav-pills nav-stacked">
			  <li role="presentation"><a href="#">Grid View</a></li>
			  <li role="presentation"><a href="#">Map View</a></li>
			  <li role="presentation"><a href="#">Filter by Type</a></li>
			  <li role="presentation"><a href="#">View by Gross Leaseable Area</a></li>
			</ul>
		</div>
	</div>
	<div class="col-sm-8 main-content-container">
		<div ng-repeat="m in malls" class="grid-property">
			<div grid-property mall="m"></div>
		</div>
	</div>
</div>