<div class="row">
	<div class="col-md-4">

		<div class="title-container">
			<span class="uppercase color-orange font-size-30">All Opportunities</span>
		</div>

		<div class="main-menu">
			<ul class="row">

			  <li role="presentation" class="col-sm-3 col-md-12 uppercase"><a href="#/map"><i class="fa fa-map-marker"></i> Map View</a></li>
			  <li role="presentation" class="col-sm-3 col-md-12 uppercase"><a href="#/graph"><i class="fa fa-line-chart"></i> Compare</a></li>
			  <li role="presentation" class="col-sm-3 col-md-12 uppercase"><a href="#/favorites"><i class="fa fa-star"></i> Favorites</a></li>
			  <li role="presentation" class="col-sm-3 col-md-12 uppercase"><a href="#/meetings"><i class="fa fa-calendar"></i> Meeting Builder</a></li>
			  <li role="presentation" class="col-sm-3 col-md-12 uppercase"><a href="#/tools"><i class="fa fa-wrench"></i> Tools</a></li>			  

			</ul>

		</div>

		<ul class="row filter-container">
			<li role="presentation" class="col-sm-6 col-md-12 uppercase"><i class="fa fa-filter"></i> Filter</li>
			<!-- BEGIN: GLA Slider -->
			<div class="col-sm-6 col-md-12">
			    <div class=" margin-top-30">Gross Leaseable Area (sq ft)</div>
			   	<div range-slider 
			   		class="padding-left-10" 
			   		min="slider.range.min" 
			   		max="slider.range.max" 
			   		model-min="slider.minStart" 
			   		model-max="slider.maxEnd"
			   		step="100000"
			   		show-values="true"
			   		filter="number">
			   	</div>
		   	</div>			
		   	<!-- BEGIN: Median Income -->
		   	<div class="col-sm-6 col-md-12">
			    <div class="">Median Income</div>
			   	<div range-slider 
			   		class="padding-left-10" 
			   		min="median.range.min" 
			   		max="median.range.max" 
			   		model-min="median.minStart" 
			   		model-max="median.maxEnd"
			   		step="1000"
			   		show-values="true"
			   		filter="currency">
			   	</div>
		   	</div>		   	
		   	<!-- BEGIN: Number of Stores -->
		   	<div class="col-sm-6 col-md-12">
			    <div class=""># of Stores</div>
			   	<div range-slider 
			   		class="padding-left-10" 
			   		min="stores.range.min" 
			   		max="stores.range.max" 
			   		model-min="stores.minStart" 
			   		model-max="stores.maxEnd"
			   		step="5"
			   		show-values="true"
			   		filter="number">
			   	</div>
		   	</div>
		</ul>


			

	</div>
	<div class="col-md-8 property-grid-container">

		<div class="overflow-ios" ng-repeat="m in malls | filter: filterGLA(slider.minStart, slider.maxEnd) | filter: filterMedian(median.minStart, median.maxEnd) | filter: filterStores(stores.minStart, stores.maxEnd)">
			<div grid-property mall="m" mall-click="m.id"></div>
		</div>
	</div>
</div>

<img class="logo" src="common/img/logo.png"></div>