<ol class="breadcrumb">
  <li><a href="#/"><i class="fa fa-home color-orange"></i></a></li>
  <li>Tools</li>
</ol>
	
<div class="title-container">
	<span class="uppercase color-gray font-size-36">Tools</span>
</div>

<div class="row">
	<div class="col-sm-3">
		<div class="tool-container" ng-click="goToComingSoon()">
			<span class="fa fa-calculator fa-5x color-orange"></span>
			<div class="font-size-24">Calculator</div>
		</div>
	</div>	
	<div class="col-sm-3">
		<div class="tool-container" ng-click="goToComingSoon()">
			<span class="fa fa-user fa-5x color-orange"></span>
			<div class="font-size-24">Contacts</div>
		</div>
	</div>	
	<div class="col-sm-3">
		<div class="tool-container" ng-click="goToComingSoon()">
			<span class="fa fa-edit fa-5x color-orange"></span>
			<div class="font-size-24">Notes</div>
		</div>
	</div>	
	<div class="col-sm-3">
		<div class="tool-container" ng-click="goToComingSoon()">
			<span class="fa fa-calendar fa-5x color-orange"></span>
			<div class="font-size-24">Scheduler</div>
		</div>
	</div>	
</div>
