<h3>{{ meeting.title }}</h3>

<div class="row margin-top-20">
	<div class="col-sm-3 font-size-18 bold">When</div>
	<div class="col-sm-9">{{ meeting.startsAt | date:'short'}} - {{ meeting.endsAt | date:'short'}}</div>
</div>
<div class="row margin-top-20">
	<div class="col-sm-3 font-size-18 bold">Properties</div>
	<div class="col-sm-9"> 
		<ul class="font-size-16 selected-properties">
			<li ng-repeat="prop in properties" ng-click="goToProperty(prop.propId)">{{ prop.label }}</li>
		</ul>
	</div>
</div>

<div class="row margin-top-18">
	<div class="col-sm-3 font-size-18 bold">Notes</div>
	<div class="col-sm-9">{{ meeting.notes }}</div>
</div>