<ol class="breadcrumb">
  <li><a href="#/"><i class="fa fa-home color-orange"></i></a></li>
  <li>Favorites</li>
</ol>

<div class="title-container">
	<span class="uppercase color-gray font-size-30">Favorites</span>
</div>

<div class="row favorites-container-relative">
	<div ng-repeat="f in favorites">
		<favorite-property favorite="f" propid="{{f.property_id}}"></favorite-property>
	</div>
</div>

<button class="btn btn-default remove-favorites" ng-click="removeFavorites()">Remove Favorites</button>