<div class="row">

	<div class="col-md-4">
	
		<ol class="breadcrumb">
		  <li><a href="#/"><i class="fa fa-home color-orange"></i></a></li>
		  <li>{{ mall.property_name }}</li>
		</ol>
	
			<div class="title-container">
				<span class="uppercase color-gray font-size-24">{{ mall.property_name }}</span>
			</div>

		<div>
			<span class="fa fa-star-o fa-2x favorite-star"
		          ng-if="status == true" 
		          ng-click="addToFavorites(mall)">
		    </span>
		    <span class="fa fa-star fa-2x favorited"
		          ng-if="status == false"
		          ng-click="removeFromFavorites(mall)">
		    </span>
			<div class="overview font-size-20">Overview</div>
			<div class="col-sm-6 col-md-12 mall-address">
				<div>{{ mall.address.street }}</div>
				<div>{{ mall.address.city }}, {{ mall.address.state }} {{ mall.address.zip }}</div>
				<div>{{ mall.phone }}</div>
				<div>{{ mall.website }}</div>
			</div>
			<div class="col-sm-6 col-md-12 mall-description">{{ mall.description }}</div>

		</div>
	</div> <!-- end of col-sm-4 -->


	<div class="col-md-8 main-content-container">
		<div class="header-img-container">
			<img class="header-img" ng-src="{{ banner }}">
		</div>
		<div class="key-facts">
			<div class="key-facts-title font-size-20">Key Facts</div>
			<div class="col-sm-4">
				<div class="font-size-20">Type of Center</div>
				<div>{{ mall.overview.metro_center}}</div>
			</div>
			<div class="col-sm-4">
				<div class="font-size-20">Anchor Tenants</div>
				<div>{{ mall.overview.anchor_tenants }}</div>
			</div>
			<div class="col-sm-4">
				<div class="font-size-20">{{ mall.overview.stores | number }}</div>
				<div>retail stores</div>
				<div class="font-size-20 padding-top-10">{{ mall.overview.gla | number }}</div>
				<div>total gross leaseable area</div>
				<div class="font-size-20 padding-top-10">{{ mall.overview.parking | number }}</div>
				<div>parking spaces</div>
			</div>
		</div>
		<div>

			<!-- Gallery Names -->

			<div class="gallery-title">
				<div class="pull-left font-size-20">Gallery</div>	
				<div class="folder-name"
					 ng-class="{'active-folder-name': $index == selected}"
					 ng-repeat="folderName in folderNames" 
					 ng-show="!$first"
				 	 ng-click="showPhotos(folderName.id, $index)">{{ folderName.name }}
				</div>
			</div>


			<!-- Gallery Images -->


			<div class="col-sm-12 gallery"></div>
			<div class="col-sm-3 gallery-container" ng-repeat="photo in photos">
				<a ng-click="openLightboxModal($index)">
					<img class="gallery-thumb" ng-src="{{photo.url}}">
				</a>
			</div>
		</div>
	</div>
</div> <!-- end of row -->