<div class="row">
	<div class="col-sm-4">
		<div class="title-container">
			<span class="uppercase color-gray font-size-36">{{ mall.name }}</span>
		</div>

		<div>
			<div class="section-title font-size-20">Overview</div>
			<div class="mall-address">
				<div>{{ mall.address.street }}</div>
				<div>{{ mall.address.city }}, {{ mall.address.state }} {{ mall.address.zip }}</div>
				<div>{{ mall.phone }}</div>
				<div>{{ mall.website }}</div>
			</div>
			<div class="mall-description">{{ mall.description }}</div>
		</div>

	</div>
	<div class="col-sm-8 main-content-container">
		<div class="col-sm-12 property-main-img-container">
			<img class="property-main-img" ng-src="{{ mall.image }}">
		</div>
		<div class="key-facts">
			<div class="section-title font-size-20">Key Facts</div>
			<div class="row">
				<div class="col-sm-4">
					Type of Center
					<div>{{ mall.overview.type }}</div>
				</div>
				<div class="col-sm-4">
					Anchor Tenants
					<div>{{ mall.overview.anchorTenants }}</div>
				</div>
				<div class="col-sm-4">
					<div>{{ mall.overview.stores | number }} stores</div>
					<div>{{ mall.overview.gla | number }} total gross leaseable area</div>
					<div>{{ mall.overview.parking | number }} parking spaces</div>
				</div>
			</div>
		</div>
		<div class="gallery">
			Gallery
		</div>
	</div>
</div>