<ol class="breadcrumb">
  <li><a href="#/"><i class="fa fa-home color-orange"></i></a></li>
  <li>Compare</li>
</ol>


<div class="col-md-12">
	<!-- PROPERTY TO PROPERTY -->
	<div ng-show="chartOutputOne">
		<div>
			Property Analysis of: 
			<b class="list-comma" ng-repeat="prop in mutliPropsSelected">
				{{prop.key}}
			</b>
		
		</div>
		<div>
			<b class="list-comma" ng-repeat="tenant in mutliPropsSelected" ng-show="showOneProp">{{ tenant.storeName }}</b>
		</div>
	</div>
	<!-- CATEGORIES -->
	<div ng-show="chartOutputTwo">
		<div>
			Property Analysis of: 
			<b>{{onePropSelected.key}}</b>
		</div>
		<div>
			{{ onePropCategoriesSelected.label }} 
			<b class="list-comma" ng-repeat="category in categoriesSelected" ng-show="showOneProp">{{ category.category }}</b>
		</div>
	</div>
	<!-- TENANTS -->
	<div ng-show="chartOutputThree">
		<div>
			Property Analysis of: 
			<b>{{onePropSelected.key}}</b>
		</div>
		<div>
			{{ onePropCategoriesSelected.label }} 
			<b class="list-comma" ng-repeat="tenant in tenantsSelected" ng-show="showOneProp">{{ tenant.storeName }}</b>
		</div>
	</div>

	<div class="row line-seperator padding-top-10">

	<!--                                                                         -->
	<!--                                  Step 1                                 -->
	<!--                                                                         -->
	
	<!-- STEP 1 -->
	<!-- BEGIN: Initial Dropdown -->
	<div class="col-sm-2">
		<div class="font-size-16">Analysis Type</div>
		<div ng-dropdown-multiselect="" 
				options="analysisType" 
				selected-model="analysisTypeSelected"
				extra-settings="analysisTypeSettings"
				events="analysisTypeEvents">
		</div>
	</div>

	<!--                                                                         -->
	<!--                                  Step 2                                 -->
	<!--                                                                         -->

	<!-- STEP 2 -->

	<!-- BEGIN: Property #2 -->
	<div class="col-sm-3" ng-show="showOneProp">	
		<div class="row">
			<div class="col-sm-7">
				<div class="font-size-16">Property</div>
				<div ng-dropdown-multiselect="" 
					options="oneProp" 
					selected-model="onePropSelected" 
					extra-settings="onePropSettings"
					events="onePropEvents">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="getPropertyForUnits()">Next</button>
			</div>
		</div>
	</div>
	<!-- OR -->	
	<!-- BEGIN: Property to Property Dropdown #2 -->
	<div class="col-sm-4" ng-show="showMultiProp">	
		<div class="row">
			<div class="col-sm-8">
				<div class="font-size-16">Properties</div>
				<div ng-dropdown-multiselect="" 
				options="mutliProps" 
				selected-model="mutliPropsSelected" 
				extra-settings="mutliPropsSettings">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="getProperties()">Next</button>
			</div>
		</div>
	</div>	

	<!-- BEGIN: Property Dropdown for Demographics #2 -->
	<div class="col-sm-4" ng-show="showDemographics">	
		<div class="row">
			<div class="col-sm-8">
				<div class="font-size-16">Properties</div>
				<div ng-dropdown-multiselect="" 
				options="demographics" 
				selected-model="demographicsSelected" 
				extra-settings="demographicsSettings"
				events="demoEvents">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="getDemoCategories()">Next</button>
			</div>
		</div>
	</div>	

	<!--                                                                         -->
	<!--                                  Step 3                                 -->
	<!--                                                                         -->

	<!-- BEGIN: PROPERTY #3 -->
	<div class="col-sm-3" ng-show="showOnePropCategories">
		<div class="row">
			<div class="col-sm-7">	
				<div class="font-size-16">Comparision</div>
				<div ng-dropdown-multiselect="" 
					options="onePropCategoriesOptions" 
					selected-model="onePropCategoriesSelected" 
					extra-settings="onePropCategoriesSettings"
					events="onePropCategoriesEvents">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="categoriesOrTenants()">Next</button>
			</div>
		</div>
	</div>		
	<!-- BEGIN: nielsen TYPES #3 -->
	<div class="col-sm-3" ng-show="showNielsen">
		<div class="row">
			<div class="col-sm-7">	
				<div class="font-size-16">Categories</div>
				<div ng-dropdown-multiselect="" 
					options="nielsenOptions" 
					selected-model="nielsenSelected" 
					extra-settings="nielsenSettings">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="getNielsenGraph()">Submit</button>
			</div>
		</div>
	</div>	

	<!--                                                                         -->
	<!--                                  Step 4                                 -->
	<!--                                                                         -->

	<!-- BEGIN: PROPERTY #4 -->
	<div class="col-sm-3" ng-show="showCategories">
		<div class="row">
			<div class="col-sm-7">	
				<div class="font-size-16">Categories</div>
				<div ng-dropdown-multiselect="" 
					options="categories" 
					selected-model="categoriesSelected" 
					extra-settings="categoriesSettings">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="getCategoriesGraph()">Submit</button>
			</div>
		</div>
	</div>
	<!-- OR -->
	<!-- BEGIN: PROPERTY #4 -->
	<div class="col-sm-3" ng-show="showTenants">
		<div class="row">
			<div class="col-sm-7">	
				<div class="font-size-16">Tenants</div>
				<div ng-dropdown-multiselect="" 
					options="tenantsOptions" 
					selected-model="tenantsSelected" 
					extra-settings="tenantsSettings">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="getshowOneProps()">Submit</button>
			</div>
		</div>
	</div>	

<!--                                                                         -->
<!--                                Graph                                    -->
<!--                                                                         -->

<div class="col-md-12">

	<div class="padding-top-20" ng-show="showNielsenGraph">
		<highchart id="chart1" config="chartConfig"></highchart>	
	</div>

	<div class="padding-top-20" ng-show="showMainGraph">
		<canvas id="line" class="chart chart-line" 
				chart-data="data"
  				chart-labels="labels" 
  				chart-legend="true" 
  				chart-series="series"
  				chart-click="onClick">
		</canvas> 
	</div>
	

</div>

