<ol class="breadcrumb">
  <li><a href="#/"><i class="fa fa-home color-orange"></i></a></li>
  <li>Compare</li>
</ol>


<div class="col-md-12">

	<div class="title-container">
		<span class="uppercase color-gray font-size-30">Chart Analysis</span>
	</div>

	<div class="row line-seperator padding-top-10" ng-hide="graphButtons">
	
	<!-- STEP 1 -->
	<!-- BEGIN: Initial Dropdown -->
	<div class="col-sm-2">
		<div class="font-size-16">Analysis Type</div>
		<div ng-dropdown-multiselect="" 
				options="initDropDown" 
				selected-model="initDropDownSelected"
				extra-settings="initDropDownSettings"
				events="initDropDownEvents">
		</div>
	</div>

	<!-- STEP 2 -->
	<!-- BEGIN: Unique Properties Dropdown -->
	<div class="col-sm-4" ng-show="propToProp">	
		<div class="row">
			<div class="col-sm-7">
				<div class="font-size-16">Select Properties</div>
				<div ng-dropdown-multiselect="" 
				options="propProperties" 
				selected-model="propSelected" 
				extra-settings="propSettings">
				</div>
			</div>
			<div class="col-sm-5">
				<button class="btn btn-default margin-top-10" ng-click="getProperties()">Submit</button>
			</div>
		</div>
	</div>	
	<!-- OR -->
	<!-- BEGIN: Unique Properties Dropdown -->
	<div class="col-sm-3" ng-show="unitToUnit">	
		<div class="row">
			<div class="col-sm-7">
				<div class="font-size-16">Select Property</div>
				<div ng-dropdown-multiselect="" 
					options="unitProperties" 
					selected-model="unitSelected" 
					extra-settings="unitSettings">
				</div>
			</div>
			<div class="col-sm-5">
				<button class="btn btn-default margin-top-10" ng-click="getPropertyForUnits()">Submit</button>
			</div>
		</div>
	</div>

	<!-- BEGIN: Category or Units -->
	<div class="col-sm-3" ng-show="categoryUnits">
		<div class="row">
			<div class="col-sm-7">	
				<div class="font-size-16">Comparision</div>
				<div ng-dropdown-multiselect="" 
					options="categoryUnitsOptions" 
					selected-model="categoryUnitsSelected" 
					extra-settings="categoryUnitsSettings">
				</div>
			</div>
			<div class="col-sm-5">
				<button class="btn btn-default margin-top-10" ng-click="categoryOrUnit()">Submit</button>
			</div>
		</div>
	</div>	

	<!-- BEGIN: Categories -->
	<div class="col-sm-3" ng-show="categoryList">
		<div class="row">
			<div class="col-sm-7">	
				<div class="font-size-16">Select Categories</div>
				<div ng-dropdown-multiselect="" 
					options="categoryListOptions" 
					selected-model="categoryListSelected" 
					extra-settings="categoryListSettings"
					events="categoryListEvents">
				</div>
			</div>
			<div class="col-sm-5">
				<button class="btn btn-default margin-top-10" ng-click="getCategoryToCategory()">Submit</button>
			</div>
		</div>
	</div>

	<!-- BEGIN: Units -->
	<div class="col-sm-3" ng-show="unitList">
		<div class="row">
			<div class="col-sm-7">	
				<div class="font-size-16">Select Units</div>
				<div ng-dropdown-multiselect="" 
					options="unitListOptions" 
					selected-model="unitListSelected" 
					extra-settings="unitListSettings"
					events="unitListEvents">
				</div>
			</div>
			<div class="col-sm-5">
				<button class="btn btn-default margin-top-10" ng-click="getUnitToUnits()">Submit</button>
			</div>
		</div>
	</div>

<div class="col-md-12">


	<div class="padding-top-20">
		<canvas id="line" class="chart chart-line" 
				chart-data="data"
  				chart-labels="labels" 
  				chart-legend="true" 
  				chart-series="series"
  				chart-click="onClick">
		</canvas> 
	</div>

</div>

