<ol class="breadcrumb">
  <li><a href="#/"><i class="fa fa-home color-orange"></i></a></li>
  <li>Compare</li>
</ol>


<div class="col-md-12">
	<!-- PROPERTY TO PROPERTY -->
	<div ng-show="chartOutputOne">
		<div>
			Property Analysis of: 
			<b class="list-comma" ng-repeat="prop in propSelected">
				{{prop.key}}
			</b>
		
		</div>
		<div>
			<b class="list-comma" ng-repeat="tenant in unitListSelected" ng-show="unitToUnit">{{ tenant.storeName }}</b>
		</div>
	</div>
	<!-- CATEGORIES -->
	<div ng-show="chartOutputTwo">
		<div>
			Property Analysis of: 
			<b>{{unitSelected.key}}</b>
		</div>
		<div>
			{{ categoryUnitsSelected.label }} 
			<b class="list-comma" ng-repeat="category in categoryListSelected" ng-show="unitToUnit">{{ category.category }}</b>
		</div>
	</div>
	<!-- TENANTS -->
	<div ng-show="chartOutputThree">
		<div>
			Property Analysis of: 
			<b>{{unitSelected.key}}</b>
		</div>
		<div>
			{{ categoryUnitsSelected.label }} 
			<b class="list-comma" ng-repeat="tenant in unitListSelected" ng-show="unitToUnit">{{ tenant.storeName }}</b>
		</div>
	</div>

	<div class="row line-seperator padding-top-10">
	
	<!-- STEP 1 -->
	<!-- BEGIN: Initial Dropdown -->
	<div class="col-sm-2">
		<div class="font-size-16">Analysis Type</div>
		<div ng-dropdown-multiselect="" 
				options="initDropDown" 
				selected-model="initDropDownSelected"
				extra-settings="initDropDownSettings"
				events="initDropDownEvents">
		</div>
	</div>

	<!-- STEP 2 -->
	<!-- BEGIN: Property #2 -->
	<div class="col-sm-3" ng-show="unitToUnit">	
		<div class="row">
			<div class="col-sm-7">
				<div class="font-size-16">Property</div>
				<div ng-dropdown-multiselect="" 
					options="unitProperties" 
					selected-model="unitSelected" 
					extra-settings="unitSettings"
					events="unitPropertiesEvents">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="getPropertyForUnits()" ng-show="buttonOne">Next</button>
			</div>
		</div>
	</div>
	<!-- OR -->
	<!-- BEGIN: Property to Property Dropdown #2 -->
	<div class="col-sm-4" ng-show="propToProp">	
		<div class="row">
			<div class="col-sm-8">
				<div class="font-size-16">Properties</div>
				<div ng-dropdown-multiselect="" 
				options="propProperties" 
				selected-model="propSelected" 
				extra-settings="propSettings">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="getProperties()">Submit</button>
			</div>
		</div>
	</div>	

	<!-- BEGIN: PROPERTY #3 -->
	<div class="col-sm-3" ng-show="categoryUnits">
		<div class="row">
			<div class="col-sm-7">	
				<div class="font-size-16">Comparision</div>
				<div ng-dropdown-multiselect="" 
					options="categoryUnitsOptions" 
					selected-model="categoryUnitsSelected" 
					extra-settings="categoryUnitsSettings"
					events="categoryUnitsEvents">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="categoryOrUnit()">Next</button>
			</div>
		</div>
	</div>	

	<!-- BEGIN: PROPERTY #4 -->
	<div class="col-sm-3" ng-show="categoryList">
		<div class="row">
			<div class="col-sm-7">	
				<div class="font-size-16">Categories</div>
				<div ng-dropdown-multiselect="" 
					options="categoryListOptions" 
					selected-model="categoryListSelected" 
					extra-settings="categoryListSettings"
					events="categoryListEvents">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="getCategoryToCategory()">Submit</button>
			</div>
		</div>
	</div>
	<!-- OR -->
	<!-- BEGIN: PROPERTY #4 -->
	<div class="col-sm-3" ng-show="unitList">
		<div class="row">
			<div class="col-sm-7">	
				<div class="font-size-16">Tenants</div>
				<div ng-dropdown-multiselect="" 
					options="unitListOptions" 
					selected-model="unitListSelected" 
					extra-settings="unitListSettings"
					events="unitListEvents">
				</div>
			</div>
			<div class="col-sm-12">
				<button class="btn btn-default margin-top-10" ng-click="getUnitToUnits()">Submit</button>
			</div>
		</div>
	</div>

<div class="col-md-12">


	<div class="padding-top-20">
		<canvas id="line" class="chart chart-line" 
				chart-data="data"
  				chart-labels="labels" 
  				chart-legend="true" 
  				chart-series="series"
  				chart-click="onClick">
		</canvas> 
	</div>

</div>

