<ol class="breadcrumb">
  <li><a href="#/"><i class="fa fa-home color-orange"></i></a></li>
  <li><a ng-click="goToProperty(mall.id)">Property</a></li>
  <li>{{ mall.name }}</li>
</ol>


<div class="row">
	<div class="col-sm-4">
		<div class="title-container">
			<span class="uppercase color-gray font-size-24">{{ mall.name }}</span>
		</div>
		<div class="view">Space View</div>

		<div class="space-container">
			<div class="font-size-20 padding-top-20">Unit 603</div>
			<div>Floor 6</div>
			<div>South</div>

			<div class="padding-top-20 font-size-20">Next To</div>
			<div>{{ mall.overview.anchorTenants }}</div>
		</div>
	
	</div>


	<div class="col-sm-8 padding-top-100">

		<div class="gallery-thumb-container">
			<div class="col-sm-2 gallery-container" ng-repeat="view in views">
				<img class="gallery-thumb" ng-src="{{view.thumbnailUrl}}">
			</div>
		</div>

		<div class="carousel-container">	
			<uib-carousel class="carousel" active="active" no-wrap="noWrapSlides">
	      		<uib-slide ng-repeat="slide in slides">
	        		<img ng-src="{{slide.thumbnailUrl}}" style="margin:auto;">
	        		<div class="carousel-caption">
	        	  		<h4>{{slide.name}}</h4>
			        </div>
	      		</uib-slide>
	    	</uib-carousel>
	    </div>

	</div>
</div>