
<div class="row">

	<div class="col-md-4">
		<ol class="breadcrumb">
		  <li><a href="#/"><i class="fa fa-home color-orange"></i></a></li>
		  <li>Map View</li>
		</ol>

		<!-- Dropdown menu of Properties -->
		<div class="btn-group" uib-dropdown>
		  <div class="color-gray font-size-16 padding-bottom-10">Choose a property from the dropdown list:</div>
	      <button id="split-button" type="button" class="btn btn-dropdown">Property List</button>
	      <button type="button" class="btn btn-dropdown" uib-dropdown-toggle>
	        <span class="caret"></span>
	        <span class="sr-only">Split button!</span>
	      </button>
	      <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
	        <li role="menuitem" ng-repeat="property in properties" ng-show="!$first">
	        	<a ng-click="showPropertyOnMap(property)">{{property.property_name}}</a>
	        </li>
	      </ul>
	    </div>
	    <!-- End of Dropdown Menu -->

	    <div class="btn-group margin-top-20" uib-dropdown ng-show="mapTypeList">
	    	
	    	<div class="color-gray font-size-16 padding-bottom-10">Choose map type:</div>

	    	<button id="split-button2" type="button" class="btn btn-dropdown">Map Type</button>
	    	<button type="button" class="btn btn-dropdown" uib-dropdown-toggle>
	        	<span class="caret"></span>
	        	<span class="sr-only">Split button!</span>
	      	</button>

		    <ul uib-dropdown-menu role="menu" aria-labelledby="split-button2">
		    	<li role="menuitem" ng-repeat="mapType in mapTypes">
		    		<a ng-click="openMapType(mapType.mapType , mapType.propId)">{{ mapType.type }}</a>
		    	</li>
		    </ul>

	    </div>

	    <div class="title-container">
			<span class="uppercase color-gray font-size-24">{{ chosenProperty.property_name }}</span>
		</div>

		<div class="mapinfo-container" ng-show="mapFacts">
			<div class="col-sm-6 col-md-12">
				<div class="font-size-20">{{ chosenProperty.tradeArea.area_population | number}}</div>
				<div>trade area population</div>
			</div>
			<div class="col-sm-6 col-md-12">
				<div class="font-size-20 padding-top-10">{{chosenProperty.tradeArea.projected_pop | number}}</div>
				<div>5 year projected population</div>
			</div>
			<div class="col-sm-4 col-md-12">
				<div class="font-size-20 padding-top-10">{{chosenProperty.tradeArea.median_age | number}}</div>
				<div>median age</div>
			</div>
			<div class="col-sm-4 col-md-12">
				<div class="font-size-20 padding-top-10">{{chosenProperty.tradeArea.avg_income | currency }}</div>
				<div>average household income</div>
			</div>
		</div>

	</div>	

	<div class="col-md-8">

			<div class="embed-container" ng-show="showMap">
				<iframe 
					id="map"
					scrolling="no" 
					ng-src="{{ mapSrc | trustUrl }}">
				</iframe>
			</div>

	</div>


</div> <!-- End of Row -->